
header {
    margin: 10px;
    padding: 10px;
}
.menu_home {
    margin: 0px;
    padding: 330px 0px 30px 330px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;


    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.menu_photoapp {

    margin: 0px;
    padding: 30px 0px 30px 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;



    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;


}
.menu_design {

    margin: 0px;
    padding: 30px 0px 30px 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;



    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;


}
.menu_download {

    margin: 0px;
    padding: 30px 0px 30px 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;



    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;

}
nav a {
    text-decoration: none;
}
.images {
    padding: 0px 0px 0px 80px;
}
.title {
    margin: 0px;
    padding: 0px 0px 0px 400px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    color: #373737;
}
.content_title {
    margin: 0px;
    padding: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}

.content_title2 {
    margin: 0px;
    padding: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}
.button {

    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;

    background: #FF0000;
    border-radius: 4px;
}
.button1 {
    margin: 0px;
    padding: 20px 0px 0px 614px;
}
footer {
    margin: 0px;
    padding: 50px 0px 29px 800px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;
}